    <ul class="nav nav-tabs">
      <li><a href="/" title="Home" <%=current?("/")%>>Home</a></li>
      <li><a href="/grammar"  title="Grammar" <%=current?("/grammar")%>>Grammar</a></li>
      <li class="active"><a href="/tests"  title="Tests" <%=current?("/tests")%>>Tests</a></li>
      <li> <a href="https://github.com/mdbGalvan/PL_LAB08" target="_blank" title="Repo">Repo</a> </li>
      <li> <a href="http://en.wikipedia.org/wiki/Recursive_descent_parser#Example_parser" target="_blank"  title="Wikipedia">PL0</a> </li>
      <li> <a href="http://zaach.github.io/jison/" target="_blank" title="Jison">Jison</a> </li>
      <li> <a href="http://intridea.github.io/omniauth/" target="_blank" title="Intridea Omniauth">Omniauth</a> </li>
      <li> <a href="https://console.developers.google.com/project" target="_blank" title="Google Developers Console">GDC</a> </li>
      <li> <a href="http://crguezl.github.io/pl-html/" target="_blank" title="PLGH">PL-GH</a> </li>
      <li> <a href="https://github.com/SFEley/sinatra-flash" target="_blank" title="sinatra-flash">Flash</a> </li>
    </ul>

	<link rel="stylesheet" href="tests/css/mocha.css" />
	<div id="mocha"></div>

	<script src="tests/js/chai.js"></script>
	<script src="tests/js/mocha.js"></script>
		
	<script>mocha.setup('tdd')</script>
	<script src="tests/js/tests.js"></script>
		
	<script>
		mocha.run();
	</script>

	<table class="loadfile">
      <tr>
        <td class="save">Select a file already stored:</td>
        <td>Or write your own code:</td>
      </tr>
      <tr>
        <td>
          <div class="navbar navbar-inverse">
            <div class="navbar-inner">
              <ul class="nav">

              </ul>
            </div>
          </div>   
          <p>
            Or load an existing file:
          </p>
          <span class="btn btn-file">
            File <input type="file" id="examples">
          </span>
        </td>
        <td>
          <form class="form-horizontal" action="/save" method="post">
            <textarea id="input" name="input" autofocus rows = "7">

            </textarea>
            <br>
            <div class="control-group">
              <label for="saveas">Save the code as:</label>
              <input id="saveas" type="text" name="fname" class="input-large"
                title="Un identificador (que no sea la palabra 'test')"
                pattern="^(?!test$)\w+$"/>
              <input class="btn" type="submit" value="Save">
            </div>
          </form>
        </td>
      </tr>
      <tr>
        <td><button class="btn" id="parse" type="button">parse</button></td>
        <td>
          <form class="form-horizontal" action="/delete" method="post">
            <div class="control-group">
              <label for="deleteas">Delete the code:</label>
              <input id="deleteas" type="text" name="fname" class="input-large"
                title="Un identificador (que no sea la palabra 'test')"
                           pattern="^(?!test$)\w+$"/>
              <input class="btn" type="submit" value="Delete">
            </div>
          </form>
        </td>
      </tr>
    </table>

  <p>
    <div id="flash"></div>
  </p>

  <div class="hidden" id="out">
    <table class="ini">
      <thead>
        <tr>
          <th>Tokens</th>
        </tr>
      </thead>
      <tbody class="scrollContent">
        <tr>
          <td>
            <div class="output"><!-- Output goes here! --> 
              <pre>
<span id="output"></span>
              </pre>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>