    <ul class="nav nav-tabs">
      <li><a href="/" title="Home" <%=current?("/")%>>Home</a></li>
      <li><a href="/grammar"  title="Grammar" <%=current?("/grammar")%>>Grammar</a></li>
      <li><a href="/tests"  title="Tests" <%=current?("/tests")%>>Tests</a></li>
      <li class="active"><a href="/video"  title="Video" <%=current?("/video")%>>Video</a></li>
      <li> <a href="https://github.com/mdbGalvan/PL_LAB08" target="_blank" title="Repo">Repo</a> </li>
      <li> <a href="http://en.wikipedia.org/wiki/Recursive_descent_parser#Example_parser" target="_blank"  title="Wikipedia">PL0</a> </li>
      <li> <a href="http://zaach.github.io/jison/" target="_blank" title="Jison">Jison</a> </li>
      <li> <a href="http://intridea.github.io/omniauth/" target="_blank" title="Intridea Omniauth">Omniauth</a> </li>
      <li> <a href="https://console.developers.google.com/project" target="_blank" title="Google Developers Console">GDC</a> </li>
      <li> <a href="http://crguezl.github.io/pl-html/" target="_blank" title="PLGH">PL-GH</a> </li>
      <li> <a href="https://github.com/SFEley/sinatra-flash" target="_blank" title="sinatra-flash">Flash</a> </li>
      <li> <a href="http://datamapper.org/docs/associations.html" target="_blank" title="DataMapper Associations">DataMapper</a> </li>
    </ul>

    <video class="center-block" src="media/tuto.mp4" poster="img/logo.png" width="400" controls></video>